/* SUN RISE */
.section .sunset {
    background: linear-gradient(to left top, #000428, #004e92);
    color: #eee;
}

.sunset-color {
    color: #004e92;
}

/* TODAY */
.today {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* NOT CURRENT MONTH */
.not-current-month {
    color: #ccc;
}

/* MONTH */

/* SELECT LIST */
.select-list {
    background: #ff6a003a;
}

.select-sunset {
    background: #004e923a;
}