/* SECTION */
.section .container {
    max-width: none;
    width: 95%;
    padding: 15px 30px;
}

.section .title {
    font-size: 22px;
    margin-bottom: 7px;
}

/* CURRENT TIME */
.section--current-time ul li {
    font-size: 18px;
}

/* CALENDAR */
.section--calendar .calendar-area .calendar__list {
    height: 62px;
    padding: 5px 0;
}

/* TO DO LIST */
.section--to-do-list .todos .todos__list .todos--complete {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.section--to-do-list .todos .todos__list .task .task__description,
.section--to-do-list .todos .todos__list .task .task__time,
.section--to-do-list .todos .todos__list .task .task__end-date {
    font-size: 12px;
    margin-top: 10px;
}