/* COMMON */
.body__container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #767676;
}

/* SECTION */
.section {
    position: relative;
    padding-top: 30px;
}

.section .container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(#e5e5e5, #fff);
    padding: 20px 0;
    box-sizing: border-box;
}

.section .title {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #656565;
}

/* SUNRISE */
.section .sunrise {
    background: linear-gradient(to left top, #ee0979, #ff6a00);
    color: #eee;
}

.sunrise-color {
    color: #ff6a00;
}

/* BTN */
.btn {
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    display: inline-block;
}

.btn:hover {
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

/* CLEARFIX FLOAT */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* HEADER */
header.section .title {
    font-size: 32px;
    margin-bottom: 0;
    color: #eee;
}

/* CURRENT TIME */
.section--current-time ul {
    display: flex;
    justify-content: center;
}

.section--current-time ul li {
    font-size: 22px;
}

.section--current-time ul .date {
    margin-right: 20px;
}

/* CALENDAR */
.section--calendar .container {
    padding: 20px 40px;
}

.section--calendar .control__unfold {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section--calendar .control__unfold:hover h3 {
    text-decoration: underline;
}

.section--calendar .control__unfold:hover .btn--unfold {
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.section--calendar .control__unfold h3 {
    margin-right: 10px;
}

.section--calendar .control__unfold .btn--unfold {
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
}

.section--calendar .control__select ul {
    display: flex;
}

.section--calendar .control__select ul .select-year {
    margin-right: 10px;
}

.section--calendar .control__select .select-today {
    color: #aaa;
    margin-top: 5px;
    cursor: pointer;
}

.section--calendar .control__select .select-today:hover {
    color: #767676;
}

.section--calendar .calendar {
    padding: 0 40px;
    margin-top: 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.section--calendar .calendar .calendar__list {
    width: 14.285%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}

.section--calendar .calendar .calendar__list .day {
    font-size: 12px;
}

.section--calendar .calendar .calendar__list 
.calendar__date {
    font-size: 23px;
}

.section--calendar .calendar 
.calendar__list:last-child {
    border-right: 0;
}

.section--calendar .btn--left,
.section--calendar .btn--right {
    width: 25px;
    height: 25px;
    border-width: 3px;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.section--calendar .btn--left {
    left: 65px;
    transform: rotate(45deg);
}

.section--calendar .btn--right {
    right: 65px;
    transform: rotate(-135deg);
}